In [2]:
import os
import pandas as pd
import xarray as xr
import plotly.graph_objects as go

from utilities import custom_graph_template

In [3]:
## Settings
crossreg_path = '../intermediate/cross_reg'
fig_path = '../figs'
centroid_dist = 10

### Plot spatial footprints for one session from one mouse.

In [4]:
mouse = 'maddie'
mappings = pd.read_pickle(os.path.join(crossreg_path, f'{mouse}/mappings_{centroid_dist}.pkl'))
mappings_resolved = pd.read_pickle(os.path.join(crossreg_path, f'{mouse}/mappings_meta_{centroid_dist}.pkl'))

In [5]:
mappings_resolved

       session                       variable  \
    2025_04_16 2025_04_17 2025_04_18 distance
0        438.0      383.0      447.0      NaN
1        281.0      234.0      261.0      NaN
2        115.0        NaN      111.0      NaN
3        144.0        NaN      133.0      NaN
4        260.0      214.0      239.0      NaN
..         ...        ...        ...      ...
451        NaN      291.0      325.0      NaN
452      357.0      301.0        NaN      NaN
453      501.0      423.0        NaN      NaN
454      436.0        NaN      413.0      NaN
455      514.0        NaN      491.0      NaN

                                    group
                                    group
0    (2025_04_16, 2025_04_17, 2025_04_18)
1    (2025_04_16, 2025_04_17, 2025_04_18)
2                (2025_04_16, 2025_04_18)
3                (2025_04_16, 2025_04_18)
4    (2025_04_16, 2025_04_17, 2025_04_18)
..                                    ...
451              (2025_04_17, 2025_04_18)
452              (2025_04_16, 2025_04_17)
453              (2025_04_16, 2025_04_17)
454              (2025_04_16, 2025_04_18)
455              (2025_04_16, 2025_04_18)

[456 rows x 5 columns]